body{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.canvas{
    width: calc(90vw);
    height: calc(90vh);
    border: 2px solid black;
    overflow: scroll;
    position: relative;
}

.container{
    margin: 0 auto;
    width: 100%;
}
.menu{
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}
.btn{
    width: 200px;
    height: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
    font-size: 16px;
}
#range_wrap{
    text-align: center;
    margin: 0 auto;
}
.users{
    width: 100%;
    max-width: 70px;
}


