body{
    margin: 0;
    padding: 0;
}
.canvas{
    height: 700px;
    border: 2px solid black;
    overflow: scroll;
    position: relative;
}

.container{
    margin: 0 auto;
    width: 100%;
}
.menu{
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}
.btn{
    width: 60px;
    height: 20px;
}
#range_wrap{
    text-align: center;
    margin: 0 auto;
}



